<nav class="navbar">
  @if (isAuthenticated()) {
    <div class="headbar">
      <span>Logged in as {{ getCurrentUsername() }}</span>
      <button (click)="logout()">Logout</button>
    </div><br>
    <div class="categories">
      @for (category of categories(); track category.id) {
        <a [routerLink]="['/mailbox', category.route]" routerLinkActive="active">
          {{ category.name }}
        </a>
      }
    </div>
  } @else {
    <div class="headbar">
      <a routerLink="/login">Login</a>
      <a routerLink="/signup">Signup</a>
    </div>
  }
</nav>
